*.exe
*.dll
*.xml.bkp
/R
/autohotkey
/babashka
/clojure
/drawio
/firefox
/freeplane
/jdk
/lilypond
/plantuml
/sharex
/sumatrapdf
/texlive
/weasel
/etc/ShareX/Backup
/etc/ShareX/Logs
/etc/ShareX/Screenshots
/etc/ShareX/History.json
/etc/ShareX/UploadersConfig.json
/tmp/
/Rime/
/shadow/
/downloads/
/WinMerge/
/app/
/.DS_Store
.DS_Store
/gradle-8.8/
/launch4j/
/weasel-0.15.0/
