[submodule "etc/kimim-emacs-everywhere"]
	path = etc/kimim-emacs-everywhere
	url = git@github.com:kimim/kimim-emacs-everywhere.git
[submodule "etc/rime-ice"]
	path = etc/rime-ice
	url = git@github.com:iDvel/rime-ice.git
[submodule "src/autohotkey"]
	path = src/autohotkey
	url = git@github.com:AutoHotkey/AutoHotkey.git
[submodule "src/freeplane"]
	path = src/freeplane
	url = git@github.com:kimim/freeplane.git
[submodule "texlive/texmf-local/tex/latex/local/beamertheme-hippo"]
	path = texlive/texmf-local/tex/latex/local/beamertheme-hippo
	url = git@github.com:kimim/beamertheme-hippo.git
[submodule "etc/kimim-emacs"]
	path = etc/kimim-emacs
	url = git@github.com:kimim/kimim-emacs.git
[submodule "src/sumatrapdf"]
	path = src/sumatrapdf
	url = git@github.com:kimim/sumatrapdf.git
[submodule "src/drawio-desktop"]
	path = src/drawio-desktop
	url = git@github.com:kimim/drawio-desktop.git
