*.exe
*.dll
*.xml.bkp
/R
/autohotkey
/babashka
/clojure
/drawio
/firefox
/freeplane
/jdk
/lilypond
/plantuml
/sharex
/sumatrapdf
/texlive
/weasel
/etc/ShareX/Backup
/etc/ShareX/Logs
/etc/ShareX/Screenshots
/etc/ShareX/History.json
/etc/ShareX/UploadersConfig.json
